
/*
  Se definirán los estilos generales en este css y se usarán modulos para cada página y/o componente en específico
*/

:root{
  --blanco: #FFFFFF;
  --negro: #000000;
  --principal: #262628;
  --secundario: rgba(31, 31, 35);
  --card: #3F3F44;
  --inhabilitado: #5F5F5F;
  --rojo: #E51515;
  --error: #E74D4D;
  --verde: #34AE20;
  --rojoHover: #FC2D0A;
  font-family: "Helvetica", "Arial", sans-serif;
}

html{
  box-sizing: border-box;
  background-color: var(--principal);
  
}

*, *:before, *:after {
  box-sizing: inherit;
}


a{
  color: var(--blanco); 
  text-decoration: none;
}

ul
{
  list-style: none;
}

li
{
  float: left;
  margin: 1rem;
}